body {
  text-align: -webkit-center;
}

.mainImage {
    margin-left: 15pt;
    border-radius: 2pt;
    width: 100%;
    padding: 0pt;
    box-shadow: 10px 10px 40px #ccc; 
    -moz-box-shadow: 10px 10px 40px #ccc; 
    -webkit-box-shadow: 10px 10px 40px #ccc; 
    -khtml-box-shadow: 10px 10px 40px #ccc;
}

.recepieImage {
    margin: 7pt;
    border-radius: 2pt;
    width: 70%;
    padding: 0pt;
    box-shadow: 10px 10px 40px #ccc; 
    -moz-box-shadow: 10px 10px 40px #ccc; 
    -webkit-box-shadow: 10px 10px 40px #ccc; 
    -khtml-box-shadow: 10px 10px 40px #ccc;
    
    max-width: 90%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.recepieImage:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.last-recepies {
    height: 40em;
    overflow-y: auto;
    margin-bottom: 4em;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.menu-recepie {
    border: solid 2pt;
    border-radius: 4pt;
    padding: 1em;
    margin: 1em 1em 1em 3em;
}

.leftText {
    text-align: left;
}

.lineBreak {
    word-wrap:break-word;
}

.aboutMainImage {
    margin-left: 1em;
}

.aboutTextBox {
    border: solid 2pt;
    border-radius: 4pt;
    padding: 1em;
    margin: 1em 0em 1em 1.4em;
    min-height: 26em;
}

.aboutImage {
    padding-top: 1.5em !important;
}

.marginTop2{
    margin-top: 2em;
}